<div class="container">
  <div class="panel-pane pane-texto">
    <div class="pane-content">
      <div class="row my-2">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>LOCALIDADES</h3>
          <table id="localities-datatable" class="responsive nowrap table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Área</th>
                <th>Nombre</th>
                <th>CP</th>
                <th>Opciones</th>
              </tr>
            </thead>

            <tbody>
              <% @localities.each do |locality| %>
                <tr>
                  <td><%= locality.id %></td>
                  <td><%= locality.area %></td>
                  <td><%= locality.name %></td>
                  <td><%= locality.postal_code %></td>
                  <td>
                    <%= link_to((fa_icon "eye"), locality) %>
                    <%= link_to((fa_icon "pencil"), edit_locality_path(locality)) %>
                    <%= link_to((fa_icon "trash-o"), locality, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).on('turbolinks:load', function() {
  return $('#localities-datatable').DataTable({
    dom: 'Bfrtip',
    buttons:[{
      extend: 'excelHtml5',
      title: '',
      exportOptions: {
        columns: [0,1,2,3]
      }
    }],
    pagingType: 'full_numbers',
    language: {
      'url': '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
    },
    bPaginate: true,
    responsive: true,
    deferRender: true,
    bDestroy: true,
    stateSave: true,
  });
});

</script>