<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @locality.name %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @locality.postal_code %>
</p>

<p>
  <strong>Área Programática:</strong>
  <%= @locality.area %>
</p>

<%= link_to 'Edit', edit_locality_path(@locality) %> |
<%= link_to 'Back', localities_path %>
