<%= form_with(model: person, id: "new-inscription", local: true, html: { class: "form-horizontal" }) do |form| %>
  <% if person.errors.any? %>
      <script type="text/javascript">
        <% person.errors.full_messages.each do |message| %>
          toastr['error']('<%= message %>');
        <% end %>
      </script>
  <% end %>

  <div class="form-row">
    <div class="col-md-12">
      <hr>
      <p><strong>¿Usted presenta alguna de las siguientes condiciones?</strong></p>
    </div>


    <div class="col-md-12">
      <ul class="">
        <li class="">Recibe medicacion que baje sus defensas</li>
        <li class="">Posee una enfermedad oncohematologica.</li>
        <li class="">Inmunodeficiencias congenitas adquiridas.</li>
        <li class="">Ha recibido un transplante.</li>
        <li class="">Está o sospecha estar embarazada.</li>
        <li class="">Se encuentra amamantando</li>
      </ul>
    </div>

    <div class="col-md-12 mb-3">
      <%= form.radio_button :condition, "1"%>
      <%= form.label :condition, "Si" %>
      <%= form.radio_button :condition, "0", checked: true %>
      <%= form.label :condition, "No"%>
    </div>
    <div class="col-md-12">
      <div id="alert-msg" style="color:red;" hidden="true">
        *Actualmente la administración de la vacuna no esta indicada en personas que presenten al menos una de las condiciones antes mencionadas.
      </div>

    </div>
    
    <div class="col-md-12">
      <hr>
      <div class="alert alert-warning" role="alert">
        Los campos marcados con un "<span style="color:red;">*</span>" son de caracter obligatorio para poder inscribirse
      </div>
      
      <p><strong>1- Datos personales</strong></p>
    </div>


    <div class="form-group col-md-6">
      <%= form.label :firstname, "Nombre completo <span style='color:red;'>*</span>".html_safe %>
      <%= form.text_field :firstname, :class => "form-control", :placeholder => "José Luis"  %>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :lastname, "Apellido/s  <span style='color:red;'>*</span>".html_safe %>
      <%= form.text_field :lastname, :class => "form-control", :placeholder => "Gonzalez"  %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :dni, "Número de documento  <span style='color:red;'>*</span>".html_safe %>
      <%= form.text_field :dni, :class => "form-control", :placeholder=>"12345678"%>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :dni_sex, "Sexo que figura en el DNI  <span style='color:red;'>*</span>".html_safe %>
      <%= form.select :dni_sex, ["Masculino", "Femenino"], {prompt: "Seleccionar"}, {class: "select2"} %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :self_perceived_sex, "Identidad autopercibida"%>
      <%= form.select :self_perceived_sex, ["Varón", "Mujer", "Varón Trans", "Mujer Trans", "Otro"], {prompt: "Seleccionar"}, {class: "select2"} %>
    </div>
    <div class="form-group col-md-6">
      <%= form.label :birthdate, "Fecha de nacimiento  <span style='color:red;'>*</span>".html_safe %>
      <%= form.text_field :birthdate, :class => "datepicker", :placeholder => "01/01/1900"%>
    </div>

    <div class="col-md-12">
      <hr>
      <p><strong>2- Datos de contacto</strong></p>
    </div>

    <div class="col-md-4 form-group">
       <%= form.label :phone_code, "Código de Área" %>
       <%= form.text_field :phone_code, :placeholder=>"280", data: { toggle: 'tooltip', placement: 'top', original_title: 'Sin el 0' } %>
    </div>
    <div class="col-md-8 form-group">
       <%= form.label :phone, "Número de teléfono" %>
       <%= form.text_field :phone, :placeholder=>"4480200", data: { toggle: 'tooltip', placement: 'top', original_title: 'Si es un celular sin el 15' } %>
    </div>
    <div class="col-md-12 form-group">
      <%= form.label :email, "E-mail" %>
      <%= form.text_field :email, :placeholder=> "contacto@chubut.gov.ar" %>
    </div>
    
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        Se deberá declarar un telefono y/o un email.
      </div>
    </div>

    <div class="col-md-12">
      <hr>
      <p><strong>3- Datos de tu domicilio</strong></p>
    </div>

    <div class="col-md-12 form-group">
      <%= form.label :locality_id, "Localidad  <span style='color:red;'>*</span>".html_safe %>
      <%= form.collection_select :locality_id, Locality.all, :id, :to_s, {prompt: "Seleccionar"}, {class: "select2 select-field"} %>
    </div>

    <div class="col-md-9 form-group">
      <%= form.label :address_street, "Calle  <span style='color:red;'>*</span>".html_safe %>
      <%= form.text_field :address_street %>
    </div>

    <div class="col-md-1 form-group">
      <%= form.label :address_number, "Nº  <span style='color:red;'>*</span>".html_safe %>
      <%= form.number_field :address_number %>
    </div>

    <div class="col-md-1 col-sm-6 form-group">
      <%= form.label :address_floor, "Piso" %>
      <%= form.number_field :address_floor %>
    </div>

    <div class="col-md-1 col-sm-6 form-group">
      <%= form.label :address_department, "Dpto" %>
      <%= form.text_field :address_department %>
    </div>

    <div class="col-md-12">
      <hr>
      <p><strong>4- Indica a que grupo poblacional perteneces</strong></p>
    </div>

    <div class="col-md-4 form-group text-center">
      <%= image_tag "iconos_salud-01.png", style:"max-width:150px;" %><br>
      <%= form.radio_button :population_group, "Soy mayor de 60 años", checked: true%><br>
      <%= form.label :population_group, "Soy mayor de 60 años" %>    
    </div>
    
    <div class="col-md-4 form-group text-center">
      <%= image_tag "iconos_salud-02.png", style:"max-width:150px;" %><br>
      <%= form.radio_button :population_group, "Tengo entre 18 y 59 y formo parte del grupo de riesgo"%><br>
      <%= form.label :population_group, "Tengo entre 18 y 59 (Con factores de riesgo)" %>
    </div>
    <div class="col-md-4 form-group text-center">
      <%= image_tag "iconos_salud-06.png", style:"max-width:150px;" %><br>
      <%= form.radio_button :population_group, "Tengo entre 18 y 59 y formo parte del grupo de riesgo"%><br>
      <%= form.label :population_group, "Tengo entre 18 y 59 (Sin factores de riesgo)" %>
    </div>
    <div class="col-md-4 form-group text-center">
      <%= image_tag "iconos_salud-03.png", style:"max-width:150px;" %><br>
      <%= form.radio_button :population_group, "Soy personal de salud"%><br>
      <%= form.label :population_group, "Soy personal de salud" %>
    </div>

    <div class="col-md-4 form-group text-center">
      <%= image_tag "iconos_salud-05.png", style:"max-width:150px;" %><br>
      <%= form.radio_button :population_group, "Soy personal de seguridad"%><br>
      <%= form.label :population_group, "Soy personal de seguridad" %>
    </div>
    <div class="col-md-4 form-group text-center">
      <%= image_tag "iconos_salud-04.png", style:"max-width:150px;" %><br>
      <%= form.radio_button :population_group, "Soy personal docente/auxiliar"%><br>
      <%= form.label :population_group, "Soy personal de Educación" %>
    </div>

    <div class="col-md-12">
      <hr>
      <p><strong>5- Indica si tienes una o más patologías</strong></p>
    </div>


    <div class="col-md-12 form-group">
      <%= form.check_box :obesity%>
      <%= form.label :obesity, "Obesidad" %>
    </div>
    <div class="col-md-12 form-group">
      <%= form.check_box :diabetes%>
      <%= form.label :diabetes, "Diabetes" %>
    </div>
    <div class="col-md-12 form-group">
      <%= form.check_box :chronic_kidney_disease%>
      <%= form.label :chronic_kidney_disease, "Enfermedad renal crónica" %>
    </div>
    <div class="col-md-12 form-group">
      <%= form.check_box :cardiovascular_disease%>
      <%= form.label :cardiovascular_disease, "Enfermedad cardiovascular" %>
    </div>
    <div class="col-md-12 form-group">
      <%= form.check_box :chronic_lung_disease%>
      <%= form.label :chronic_lung_disease, "Enfermedad pulmonar crónica" %>
    </div>
    

    <div class="actions">
      <%= form.submit "Inscribirme", :class => "btn btn-primary btn-lg btn-block" %>
    </div>

  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#warning-modal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="warning-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entiendo</button>
      </div>
    </div>
  </div>
</div>
  
  
<% end %>
<script type="text/javascript">

  $(document).ready(function(){
    if ($('.people.new').length > 0){
    $("#warning-modal").modal('show');}
  });




  $('#person_condition_0').change(function() {
    $('#alert-msg').prop('hidden', true);
    $('#new-inscription :input').prop('disabled', false);
  });

  $('#person_condition_1').change(function() {
    $('#alert-msg').prop('hidden', false);
    $('#new-inscription :input').prop('disabled', true);
    $('#person_condition_0').prop('disabled', false);
  });

</script>