

<div class="container">
  <div class="panel-pane pane-texto">
    <div class="pane-content">
      <div class="row my-2">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>INSCRIPCIONES</h3>
          <table id="people-datatable" data-source="<%= people_path(format: :json) %>" class= "responsive nowrap table table-hover">
            <thead>
              <tr>
                <th><%= Person.human_attribute_name("locality").titleize%></th>
                <th><%= Person.human_attribute_name("population_group").titleize%></th>
                <th><%= Person.human_attribute_name("dni").titleize%></th>
                <th><%= Person.human_attribute_name("firstname").titleize%></th>
                <th><%= Person.human_attribute_name("lastname").titleize%></th>
                <th>Opciones</th>
              </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<% if user_signed_in? %>
  <% if current_user.email === "chubutvacunate@gmail.com" or current_user.email === "sageoffroy@gmail.com" %>
    <div style='margin: 50px;'>
      <a id='download_people' class='btn btn-success' href='/people/download'>Descargar Inscriptos</a>
    </div>
    <script language='javascript'>
      $(function() {
        $('#download_people').click(function(e) {
          e.preventDefault();
          var uuid = generateUUID();
          $(this).html('Descargando...').attr('disabled', 'disabled');
          var url = $(this).attr('href') + '?uuid=' + uuid;
          subscribeDownloadChannel(uuid, function() {
            $.get(url);
          });
          return false;
        })
      });
    </script>


  <% end %>
<% end %>
</div>
    


<script type="text/javascript">

  $(document).on('turbolinks:load', function() {

  /****************************************************************************************/
  /* For Export Buttons available inside jquery-datatable "server side processing" - Start
- due to "server side processing" jquery datatble doesn't support all data to be exported
- below function makes the datatable to export all records when "server side processing" is on */

    function newexportaction(e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;
        dt.one('preXhr', function (e, s, data) {
            // Just this once, load all data from the server...
            data.start = 0;
            data.length = 2147483647;
            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                if (button[0].className.indexOf('buttons-copy') >= 0) {
                    $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                    $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                    $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                    $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                        $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                } else if (button[0].className.indexOf('buttons-print') >= 0) {
                    $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                }
                dt.one('preXhr', function (e, s, data) {
                    // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                    // Set the property to what it was before exporting.
                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });
                // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                setTimeout(dt.ajax.reload, 0);
                // Prevent rendering of the full data to the DOM
                return false;
            });
        });
        // Requery the server with the new one-time export settings
        dt.ajax.reload();
    };
    //For Export Buttons available inside jquery-datatable "server side processing" - End  

  /****************************************************************************************/


  return $('#people-datatable').DataTable({
    dom: 'Bfrtip',
    buttons: [
            {
               "extend": 'excel',
               "titleAttr": 'Excel',                               
               "action": newexportaction
            },
            {
               "extend": 'csv',
               "titleAttr": 'CSV',                               
               "action": newexportaction
            },
            {
               "extend": 'pdf',
               "text": '<i class="fa fa-file-pdf-o" style="color: green;"></i>',
               "titleAttr": 'PDF',                               
                               "action": newexportaction
            }],

    processing: true,
    serverSide: true,
    ajax: {
      url: $('#people-datatable').data('source')
    },
    pagingType: 'full_numbers',
    language: {
      'url': '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
    },
    bPaginate: true,
    info: false,
    responsive: true,
    deferRender: true,
    bDestroy: true,
    stateSave: true,
    columns: [
      {
        data: 'locality'
      }, {
        data: 'population_group'
      }, {
        data: 'dni'
      }, {
        data: 'firstname'
      }, {
        data: 'lastname'
      }, {
        data: 'options'
      }
    ]
  });
});



</script>