

<div class="container">
  <div class="panel-pane pane-texto">
    <div class="pane-content">
      <div class="row my-2">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>INSCRIPCIONES</h3>
          <table id="people-datatable" data-source="<%= people_path(format: :json) %>" class= "responsive nowrap table table-hover">
            <thead>
              <tr>
                <th><%= Person.human_attribute_name("locality").titleize%></th>
                <th><%= Person.human_attribute_name("population_group").titleize%></th>
                <th><%= Person.human_attribute_name("dni").titleize%></th>
                <th><%= Person.human_attribute_name("firstname").titleize%></th>
                <th><%= Person.human_attribute_name("lastname").titleize%></th>
                <th>Opciones</th>
              </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  $(document).on('turbolinks:load', function() {

    


  return $('#people-datatable').DataTable({
    dom: 'Bfrtip',
    buttons: [
            {
               "extend": 'excel',
               "titleAttr": 'Excel',                               
               
            },
            {
               "extend": 'csv',
               "titleAttr": 'CSV',                               
               
            },
            {
               "extend": 'pdf',
               "text": '<i class="fa fa-file-pdf-o" style="color: green;"></i>',
               "titleAttr": 'PDF',                               
            }],

    processing: true,
    serverSide: true,
    ajax: {
      url: $('#people-datatable').data('source')
    },
    pagingType: 'full_numbers',
    language: {
      'url': '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json'
    },
    bPaginate: true,
    info: false,
    responsive: true,
    deferRender: true,
    bDestroy: true,
    stateSave: true,
    columns: [
      {
        data: 'locality'
      }, {
        data: 'population_group'
      }, {
        data: 'dni'
      }, {
        data: 'firstname'
      }, {
        data: 'lastname'
      }, {
        data: 'options'
      }
    ]
  });
});



</script>