

<div class="container">
  <div class="panel-pane pane-texto">
    <div class="pane-content">
      <div class="row my-2">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3>INSCRIPCIONES</h3>
          <table id="people-datatable" data-source="<%= people_path(format: :json) %>" class= "table">
            <thead>
              <tr>
                <th><%= Person.human_attribute_name("locality").titleize%></th>
                <th><%= Person.human_attribute_name("population_group").titleize%></th>
                <th><%= Person.human_attribute_name("dni").titleize%></th>
                <th><%= Person.human_attribute_name("firstname").titleize%></th>
                <th><%= Person.human_attribute_name("lastname").titleize%></th>
                <th>Opciones</th>
              </tr>
            </thead>

            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
