<section id="formulario" class="formulario-section py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-5 order-md-2 d-none d-lg-block mb-4">
                  <h3 class="text-center">¿NECESITAS AYUDA?</h3>
                  <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="<%= asset_path 'inscripcion_vacuna.mp4' %>" allowfullscreen></iframe>
                  </div>
                  <%= image_tag "flyer_turnos.png", class:"img-fluid nav-logo" %>
                  <br><br>
                  <%= image_tag "flyer_indicaciones1.png", class:"img-fluid nav-logo" %>
                  <br><br>
                  <%= image_tag "flyer_indicaciones2.png", class:"img-fluid nav-logo" %>
                  <br><br>
                  <%= image_tag "flyer_indicaciones3.png", class:"img-fluid nav-logo" %>
                </div>
                <div class="col-lg-7 order-md-1">
                  <h3 class="text-center">FORMULARIO DE INSCRIPCIÓN</h3>
                  <%= render 'form', person: @person %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
