<!-- Formulario-->
<section id="header" class="header-section py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row text-center my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= image_tag "logo_vacunate.png", style:"max-width:25%;", class:"mb-5" %>
              <h6 class="text-white mx-auto mb-5">Plan provincial público, gratuito y optativo contra COVID-19</h6>
              <a href="/"><%= image_tag "logo_chubut.png", class:"img-fluid nav-logo", style:"max-width:50%;" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="formulario" class="formulario-section pt-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row my-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-4 order-md-2 d-none d-lg-block mb-4">
                  <%= image_tag "placa1.jpg", class:"img-fluid nav-logo" %>
                  <br><br>
                  <%= image_tag "placa2.jpg", class:"img-fluid nav-logo" %>
                  <br><br>
                  <%= image_tag "placa3.jpg", class:"img-fluid nav-logo" %>
                </div>
                <div class="col-lg-8 order-md-1">
                 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>