<html>
  <head>
    <title>Chubut Vacunate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" media="all">
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body id="page-top" class="<%= controller_name %> <%= action_name %> bg-light">
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
      <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">
                  <%= image_tag "logo_vacunate.png", style:"max-width:50%;" %>
                </h1>
                <div class="row justify-content-md-center">
                  <div class="col-md-6 ">
                    <h2 class="text-white mx-auto mt-5 mb-5">Plan provincial público, gratuito y optativo contra COVID-19</h2>
                    <a class="btn btn-primary btn-block mb-3" href="/people/new">INSCRIBITE</a>
                    <%= link_to "PREGUNTAS FRECUENTES", "https://www.google.com/url?q=https://drive.google.com/file/d/1wlY1PefRvZd8QExwMAa2QwCbzYsRfYK9/view?usp%3Dsharing&sa=D&source=hangouts&ust=1617901301468000&usg=AFQjCNERho9GdhIkMRLnVPd8B_3HYxdKGw", target: "_blank", class: "btn btn-secondary btn-block mb-3" %>

                    <a class="btn btn-secondary btn-block mb-3" href="#verificar">¿YA ESTOY INSCRIPTO?</a>
                    <a class="btn btn-secondary btn-block mb-3" href="#contacto">CONTACTO</a>
                  </div>
                </div>
            </div>
        </div>
      </header>
      <!-- Preguntas -->
      <!--section class="preguntas-section text-center py-5" id="preguntas">
        <div class="container">
          <div class="panel-pane pane-texto">
            <div class="pane-content">
              <div class="row text-center mb-5">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                      <h2>PREGUNTAS FRECUENTES</h2>
                  </div>
              </div>
              <div class="row text-center mt-2 ">
                <div class="col-md-12 col-lg-7 mb-5">
                  <%= image_tag "preguntas1.png", style:"max-width:50%;" %>
                </div>
                <div class="col-md-12 col-lg-5"></div>

                <div class="col-md-12 col-lg-5"></div>
                <div class="col-md-12 col-lg-7 mb-5">
                  <%= image_tag "preguntas2.png", style:"max-width:50%;" %>
                </div>

                <div class="col-md-12 col-lg-7 mb-5">
                  <%= image_tag "preguntas3.png", style:"max-width:50%;" %>
                </div>
                <div class="col-md-12 col-lg-5"></div>

              </div>
            </div>
          </div>
        </div>
      </section-->
      <!-- Verificar -->
      <section class="preguntas-section text-center py-5" id="verificar">
        <div class="container">
          <div class="panel-pane pane-texto">
            <div class="pane-content">
              <div class="row text-center mb-5 justify-content-md-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2>¿ YA ESTOY INSCRIPTO?</h2>
                </div>
                <%= render "tablero/form_check"%>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <p id="verfication-msg" style="font-weight: 600">Ingrese un DNI válido y presione el botón verificar.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render "layouts/footer"%>

      <!-- Modal -->
      <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color:#a34795;">
            <div class="modal-body" style="padding: 1rem;">
              <%= image_tag "flyer_home.png", class:"img-fluid nav-logo" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Entiendo</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>



<script type="text/javascript">

  $( window ).on( "load",function(){
    if ($('.welcome.index').length > 0)
    {
      $("#info-modal").modal('show');
    }
  });
</script>
