<%= form_with(model: pathology, local: true) do |form| %>
  <% if pathology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pathology.errors.count, "error") %> prohibited this pathology from being saved:</h2>

      <ul>
      <% pathology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
