<div class="container">
  <div class="panel-pane pane-texto">
    <div class="pane-content">
      <div class="row my-2">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="">TABLERO</h3>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total de Inscripciones</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@total_de_inscripciones%></div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-address-book fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Mayores de 60</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@total_mayores_60%></div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-blind fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">18 a 59 (Riesgo)</div>
                            <div class="row no-gutters align-items-center">
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@total_18_59_riesgo%></div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-medkit fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Resto</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=@total_de_inscripciones - @total_mayores_60 - @total_18_59_riesgo%></div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Localidades con más % de inscriptos</h6>
                </div>
                <div class="card-body">
              		<% @inscripciones_x_localidad.each do |loc| %>
              			<h4 class="small font-weight-bold"><%=loc[0].name%> <span class="float-right"><%=number_with_precision(loc[1].to_f / @total_de_inscripciones.to_f * 100,:precision => 2).to_s + '%'%></span></h4>
                  	<div class="progress mb-4">
                    	<div class="progress-bar bg-warning" role="progressbar" style="width: <%=(loc[1].to_f / @total_de_inscripciones.to_f * 100).to_s + '%'%>"
                      aria-valuenow="<%=(loc[1].to_f / @total_de_inscripciones.to_f * 100).to_s%>" aria-valuemin="0" aria-valuemax="100"></div>
                  	</div>
              		<% end %>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
           <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Inscripciones con Patologías</h6>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <%= image_tag "iconos_salud-02.png", style:"max-width:150px;" %>
                        </div>
                        <div class="col-lg-6" style="display: table;height: 150px;">
                            <span class="h1 text-warning" style="vertical-align:middle;display: table-cell;">
                                <%=@inscripciones_patologia%>
                            </span>
                        </div>
                    </div>
                    <p> Cantidad de inscripciones con una o más patologías de Riesgo.</p>
                </div>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- /.container-fluid -->