<!DOCTYPE html>
<html>
  <head>
    <title>Vacunate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <%= render "layouts/navbar"%>
    <%= yield %>
  </body>
  <!-- Core theme JS-->
  <%= javascript_include_tag 'easing', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'vacunate', 'data-turbolinks-track': 'reload' %>
</html>
