<!DOCTYPE html>
<html>
  <head>
    <title>Chubut Vacunate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" media="all">
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body id="page-top" class="bg-light">
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
